/* #region 描述声明 */
.discription{
    width: 100%;
    overflow: hidden;
}
.img1{
    width: 40%;
    margin: 5%;
}
.text_discription{
    margin-top: 5%;
    margin-right: 5%;
    width: 40%;
    background-color: rgb(255, 252, 216);
    overflow: hidden;
    margin-bottom: 20px;
}
.text_discription ul{
    margin-left: 50px;
}
.text_discription li{
    list-style-image: linear-gradient(red,red);
    margin: 5px 0;
}
/* #endregion 描述声明 */
/* #region 表格 */
.discription .device_datatable{
    border-collapse: separate;
    min-width: 500px;
    width: 40%;
    margin: 0 auto;
    text-indent: 20px;
}
.discription .device_datatable thead{
    background-color: rgb(0, 0, 160);
    font-size: 40px;
    color: white;
}
.discription .device_datatable tbody tr:nth-child(2n-1){
    background-color: rgb(210, 210, 210);
}
.discription .device_datatable tbody tr:nth-child(2n-1){
    background-color: rgb(225, 225, 225);
}

.discription .device_datatable tr td:nth-child(1){
    width: 30%;
}
.table_first_items{
    font-weight: bold;
}
/* #endregion 表格 */
